.wrapper 
{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	font-weight: 300;
	font-size:60px;
	font-family: "Bangers", cursive; 
	text-align: center;
	color: #fff;
	animation: 90s credits linear 1;
}

.movie 
{
	margin-bottom: 50px;
	font-size: 80px;
}

.job 
{
	margin-bottom: 5px;
	font-size: 25px;
}

.name 
{
	margin-bottom: 50px;
	font-size: 55px;
}
.name span { font-size:20pt; }

@keyframes credits 
{
	0% { top:  100%; }
	100% { top: -500%; }
}

.credits-table { width:60%;margin:0 20%; }
.credits-table td { text-align:left;vertical-align:top; }
.credits-table tr :nth-child(1) { width:55%; }
.credits-table tr :nth-child(2) { width:45%; }
